*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

*:focus {
    outline: 3px solid var(--clr-primary);
    outline-offset: 3px;
}

html {
    scroll-behavior: smooth;
}

:root {
    --ff-primary: "Poppins", sans-serif;
    --ff-accent: "Playfair Display", serif;

    --fw-light: 400;
    --fw-normal: 600;
    --fw-bold: 700;

    --fs-body: 1rem;
    --fs-heading: 2rem;
    --fs-title: 2rem;

    --clr-light: #fff;
    --clr-primary: #c70039;
    --clr-primary-accent: #4B0015;
    --clr-dark-accent: #16010d;
    --clr-dark: #19000e;

    --padding-section: 1em 2em;

    --menu-slide-percent: 0;
}

body {
    background: var(--clr-dark);
    font-family: var(--ff-primary);
    color: var(--clr-light);
}

section {
    padding: var(--padding-section);
}

.heading {
    font-family: var(--ff-accent);
    font-size: var(--fs-heading);
    font-weight: var(--fw-light);
    color: var(--clr-primary);

    margin: 1em 0;
    letter-spacing: 1px;
    
}

.heading > span {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
}

.link {
    color: inherit;
    text-decoration: none;
    letter-spacing: 1px;
}

/* home page */

.home-section {
    height: 100vh;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-content-container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.title {
    font-family: var(--ff-accent);
    font-weight: var(--fw-light);
    color: var(--clr-primary);
    font-size: var(--fs-title);
    max-width: 7em;
    margin-top: 1em;
    max-width: 10ch;
}

.title > span {
    font-weight: var(--fw-bold);
    color: var(--clr-light);
}

.profile-img-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.profile-img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 12em;
    object-fit: cover;
    object-position: 0 -1.5em;
    height: 12em;
    border-radius: 50%;
    
    mix-blend-mode: screen;
}

.profile-bg {
    width: 12em;
    height: 12em;
    background-color: var(--clr-primary);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 50%;
}


.home-section > .arrow-container {
    margin-top: auto;
}

.menu-icon--container {
    align-self: flex-end;
    margin: 1em 2em 0 0;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    cursor: pointer;
}

.menu-icon--container:hover {
    color: var(--clr-primary);
}

.menu-icon {
    margin: -0.2em;
    transform: scaleX(2);
}

.menu-icon--container:hover .menu-icon:nth-of-type(1) {
    transform: scaleX(2.3);
}
.menu-icon--container:hover .menu-icon:nth-of-type(2) {
    transform: scaleX(2.6);
}
.menu-icon--container:hover .menu-icon:nth-of-type(3) {
    transform: scaleX(2.9);
}

/* open menu */

.open-menu {
    position: fixed;
    left: 100%;

    width: 100vw;
    height: 100vh;
    z-index: 10;

    background: var(--clr-primary);
}

.animate-menu {
    animation: menuSlide;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes menuSlide {
    from {left: 100%;}
    to {left: var(--menu-slide-percent);} 
}

.remove-menu {
    animation: reverseMenuSlide;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes reverseMenuSlide {
    from {left: var(--menu-slide-percent);} 
    to {left: 100%;}

}


.menu-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1em;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

a.menu-item {
    color: var(--clr-dark);
    text-decoration: none;
    font-size: var(--fs-heading);
    letter-spacing: 2px;
    transition: letter-spacing 500ms ease-in-out;
    padding: 1rem;
    padding-left: 2rem;
}

a.menu-item:hover {
    letter-spacing: 5px;
    background: var(--clr-primary-accent);
    color: var(--clr-light);
}

.menu-heading {
    font-size: 3rem;
    margin: 0;
    padding: 0.5rem 0 0 2rem;
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
}

.menu-close-btn {
    color: var(--clr-light);
    font-size: 3rem;
    margin-top: 1rem;
    padding: 1rem 2rem 0 0;
    cursor: pointer;
}

.menu-close-btn:hover {
    color: var(--clr-dark);
}


/* about section */

.about-section {
    display: flex;
    flex-direction: column;
}

.about__body {
    margin-bottom: 1em;
    line-height: 1.8;
}

/* arrows */

.arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 5em;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.arrow-container--up {
    transform: rotate(180deg)
}

.arrow-page-up {
    order: -1;
}

.light {
    color: var(--clr-light);
}

.accent {
    color: var(--clr-primary);
}

.arrow-icon {
    font-size: 3em;
    margin: 0;
    margin-bottom: -0.4em;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

.arrow-container:hover > .arrow-icon.light {
    transform: translateY(-0.6em);
}

.arrow-container:hover > .arrow-icon.accent {
    transform: translateY(0.6em);
}


/* portfolio page */

.portfolio-section {
    display: flex;
    flex-direction: column;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
}

.portfolio__item-container {
    margin-bottom: 2em;
}

.portfolio__item__heading {
    margin-bottom: 0.3em;   
    font-family: var(--ff-primary);
    letter-spacing: 1px;
}

.portfolio__item {
    width: 100%;
    height: 16em;

    display: flex;
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;

    transition: transform 1000ms ease-in-out;
    cursor: pointer;
}

.portfolio-img:hover {
    transform: scale(1.2);
    opacity: 0.6;
}

.portfolio__item::after {
    content: "";
    background: var(--clr-primary);
    width: calc(100% - (var(--padding-section) * 2));
    height: 16em;
    z-index: -1;

    position: absolute;
}

.portfolio-arrow {
    font-size: 1.5em;
    color: var(--clr-primary);
    transition: transform 300ms ease-in-out;
    margin: 0 auto;
    cursor: pointer;

    display: none;
    visibility: hidden;
}

.portfolio-arrow:hover {
    transform: scale(1.4);
    color: var(--clr-light);
}

/* portfolio enlarged project */

.portfolio-single-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}

.portfolio-single-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.portfolio-single__title {
    font-weight: var(--fw-bold);
    color: var(--clr-light);
    margin: 0;
}

.portfolio-single__img {
    max-width: 100%;
}

.portfolio-close-btn {
    font-size: 2em;
    margin-left: auto;
    color: var(--clr-primary);
    cursor: pointer;
}

.portfolio-close-btn:hover {
    color: var(--clr-light);
}

.portfolio-link > a {
    text-decoration: none;
    color: inherit;
    font-weight: var(--fw-normal);
    letter-spacing: 1px;
}

.portfolio-link > a > span {
    font-weight: var(--fw-light);
}

.portfolio-link > a:hover {
    color: var(--clr-primary);
}


/* contact form */

.contact-section {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

#contact-form {
    margin: 1em 0;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input,
.submit-btn {
    font-family: var(--ff-primary);
    letter-spacing: 1px;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
}

input {
    margin-bottom: 0.5em;
}

.submit-btn {
    margin: 1em 0;
    font-size: 1.2rem;
    font-weight: var(--fw-normal);
    letter-spacing: 2px;
    background: var(--clr-primary);
    color: var(--clr-light);

    cursor: pointer;
}

.submit-btn:hover {
    background: var(--clr-light);
    color: var(--clr-primary);
}

textarea {
    resize: vertical;
    font-family: inherit;
    padding: 1em;
    border: none;
    border-radius: 0.3em;
}

/* thanks page */

.thanks-container {
    padding: 2em;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks--heading {
    margin-top: auto;
    padding: 1em;
    border-top: 3px solid var(--clr-primary);
    border-bottom: 3px solid var(--clr-primary);
}

.link--thanks {
    margin: auto;
    margin-bottom: 2em;
    font-size: 1.3rem;
    position: relative;
}

.link--thanks::before {
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    content: '';
    width: 100%;
    height: 0.1em;
    background: var(--clr-light);
    position: absolute;
    bottom: -0.3em;
}

.link--thanks:hover::before {
    transform: scaleX(1);
}

@media (min-width: 600px) {

    :root {
        --fs-title: 2.5rem;
    }

    .heading {
        margin-top: 1rem;
    }

    /* home screen */

    .home-content-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .title { 
        margin-top: 0;
    }

    .profile-img,
    .profile-bg {
        width: 14em;
        height: 14em;
    }

    /* about */

    .about-section--content {
        display: flex;
        gap: 2em;
    }

    .about-section--content__body {
        margin-top: 1em;
    }

    /* portfolio */
    .portfolio-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .portfolio__item-container {
        width: 48%;
    }

    /* portfolio single item */

    .portfolio-single__img {
        height: 30em;
        object-fit: cover;
        object-position: top;
    }

    .portfolio-single-container { 
        gap: 2em;
    }
    
}


@media (min-width: 750px) {

    :root {
        --menu-slide-percent: 60%;
    }
   
    .open-menu {
        width: 40vw;
    }

    #menu-icon--container {
        position: fixed;
        top: 0;
        right: 0;
    }

    #menu-icon--container:hover {
        color: var(--clr-dark);
    }

    #all-content-container {
        max-width: calc(100% - 80px);
    }

    #all-content-container::after {
        content: '';
        width: 80px;
        height: 100vh;
        background: var(--clr-primary);
        position: fixed;
        top: 0;
        right: 0;
        z-index: -1;
    }


}

@media (min-width: 1000px) {

    :root {
        --fs-body: 1.2rem;
        --fs-heading: 2.4rem;
        --fs-title: 3rem;
    
        --padding-section: 1em 3em;
    }

    .profile-img,
    .profile-bg {
        width: 16em;
        height: 16em;
    }

    .section {
        min-height: 100vh;
        max-width: 1000px;
        margin: 0 auto;
    }

    .about-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-section--content {
        margin-bottom: auto;
    }

    .contact-section {
        max-width: 700px;
    }

    .contact-section--content {
        margin-bottom: auto;
        background: var(--clr-dark-accent);
        padding: 1em;
        border-radius: 0.3em;
        box-shadow: 0 0.5em 1em #0005
    }

    .arrow-page-up {
        margin-bottom: auto;
    }

    .arrow-page-down {
        margin-top: auto;
    }
}

@media (min-width: 1200px) {
    :root {
        --menu-slide-percent: 70%;
    }
   
    .open-menu {
        width: 30vw;
    }
}

/* fix bug where menu opens and closes itself when the screen size passes 750px point */

/* add another media query to work with screens over 900/1000px to stop stuff getting too big */

/* maybe change the direction of some of the arrows - it is confusing to have one arrow pointing
down and then on the next slide have an arrow pointing up in exactly the same spot */
